* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #F5F6F8;
}

.App {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;

}